<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<div id="postResultDiv" align="center"></div>

<div class="container mt-4">
    <div class="row">
        <div class="col-6">

            <form id="bookForm">
                <div class="row">
                    <label class="col-4" for="isbn">ISBN : </label>
                    <input class="col-8 form-control" id="isbn" name="isbn" type="text">
                </div>
                <div class="row mt-2">
                    <label for="bookName" class="col-4 ">NAME : </label>
                    <input id="bookName" class="col-8 form-control" name="bookName" type="text">
                </div>
                <div class="row mt-2">
                    <label class="col-4" for="author">Author : </label>
                    <input class="col-8 form-control" id="author" name="author" type="text">
                </div>
                <button type="submit mt-2" id="addBookBtn" class="btn btn-primary align-self-center">Create book
                </button>
            </form>

        </div>

        <div class="col-6">
            <div class="row ml-1">
                <input type="text" id="searchBookName" class="form-control col-7 ">
                <button id="searchBooksBtn" type="button" class="btn btn-primary ml-1 col-2">Search</button>
                <button id="getAllBooksBtn" type="button" class="btn btn-primary ml-1 col-2">Show all</button>

            </div>

            <div id="table" class=" mt-2">
                <table border="1" class="table">
                    <thead>
                    <th scope="col">ISBN</th>
                    <th scope="col">NAME</th>
                    <th scope="col">AUTHOR</th>
                    </thead>
                    <tbody class="booksTable" id="booksTable">
                    </tbody>
                </table>
                <div id="emptyBook" class="emptyBook">

                </div>
            </div>

        </div>

    </div>
</div>


<script>

    function doEmpty(id) {
        let $obj = $('#' + id);
        $obj.empty();
    }

    function getBook() {
        return {
            isbn: $("#isbn").val(),
            bookName: $('#bookName').val(),
            author: $('#author').val()
        }
    }

    function doEmptyInput() {
        $("#isbn").val("");
        $('#bookName').val("");
        $('#author').val("");
    }


    function addBook2Table(book) {
        doEmpty('emptyBook');
        let $books = $('#booksTable');
        $books.append(
            "<tr scope=\"row\">" +
            "<td>" + book.isbn + "</td>" +
            "<td>" + book.bookName + "</td>" +
            "<td>" + book.author + "</td>" +
            "</tr>"
        );
        doEmptyInput();
        console.log("was added book")
    }

    function fillEmptyBookTable() {
        doEmpty('booksTable');
        let $emptyBook = $('#emptyBook');
        $emptyBook.append("<label>Book not found</label>")
    }

    function fillBookTable(response) {
        doEmpty('booksTable')
        for (let i = 0; i < response.data.length; i++) {
            addBook2Table(response.data[i]);
        }
        console.log("fillBookTable")
        console.log(response)
    }

    function updateBookList() {
        $.ajax({
            type: 'GET',
            url: '/get-books',
            success: function (response) {
                fillBookTable(response)
            }
        });
        console.log("updateBookList")
    }

    $(function () {
        $(document).ready(function () {
            console.log('loading')
            updateBookList();
        });


        $('#bookForm').submit(function (event) {
            event.preventDefault();

            let newBook = getBook()

            $.ajax({
                type: 'POST',
                contentType: "application/json",
                url: '/add-book',
                data: JSON.stringify(newBook),
                dataType: 'json',
                success: function (response) {
                    console.log("add book")
                    addBook2Table(response);
                    updateBookList();
                },
                error: function () {
                    console.log("error with adding : " + $("#isbn").val())
                }
            })
        });

        $('#getAllBooksBtn').click(function () {
            $.ajax({
                type: 'Get',
                url: '/get-books',
                dataType: 'json',
                success: function (response) {
                    updateBookList();
                }
            })
        })

        $('#searchBooksBtn').click(function () {
            $.ajax({
                type: 'GET',
                url: '/search-books',
                dataType: 'json',
                data: {
                    searchName: $("#searchBookName").val()
                },
                success: function (response) {
                    response.data.length == 0
                        ? fillEmptyBookTable()
                        : fillBookTable(response)
                },
                error: function (response) {
                    console.log("can not search : " + $("#searchBookName").val())
                }
            })
        })
    })


</script>


</body>
</html>