<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-4">

            <form action="">
                <p>ISBN : </p>
                <input type="text">
                <input type="text">
                <input type="text">
                <button>Create book</button>
            </form>

        </div>

        <div class="col-8">
            <div>
                <input type="text">
                <button>Search</button>
            </div>

            <div>
                <button>Show all</button>
            </div>

            <div>
                <ul>
                    <li>
                        list of books
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>


</body>
</html>