<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div class="container">
    <div th:insert="navbar"></div>

    <div class="main-block">

        <div class="filter">
            <form action="/authors" method="post">
                <div class="filter-name">
                    <input class="input" type="text" name="authorName" placeholder="authorName"
                           th:object="${authorName}">
                    <button type="submit" class="btn btn-dark">Search</button>
                </div>
            </form>
        </div>
        <div>
            <table border="1">
                <thead>
                <tr>
                    <th th:text="Text"/>
                    <th th:text="msg.name"/>
                </tr>
                </thead>
                <tbody>
                <tr th:each="author, iStat : ${page.content}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">
                    <td th:text="${author.getAuthorId()}"/>
                    <td><a th:text="${author.getName()}"
                           th:href="@{/author/{id}(id=${author.getAuthorId()})}"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination"
             th:if="${page.totalPages > 0}"
             th:each="pageNumber : ${pageNumbers}">
            <label class="page mt-2"><a
                    th:href="@{/authors(size=${6}, page=${pageNumber})}"
                    th:text=${pageNumber}
                    th:class="${pageNumber==page.number} ? active"></a>
            </label>
        </div>


    </div>

</div>
</body>
</html>