<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

<div class="container">
    <div th:insert="navbar"></div>

    <div class="main-block">

        <div class="filter">
            <form action="/books" method="post">
                <div class="filter-name">
                    <input class="input" type="text" name="bookName" placeholder="bookName" th:object="${bookName}">
                    <input class="input input-isbn" type="text" name="isbnName" placeholder="isbn"
                           th:object="${isbnName}">
                    <button type="submit" class="btn btn-dark">Search</button>
                </div>
            </form>
        </div>
        <div>
            <table border="1">
                <thead>
                <tr>
                    <th th:text="№"/>
                    <th th:text="BOOK"/>
                    <th th:if="${role == 'client'}" th:text="ADD"/>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book, iStat : ${page.content}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">
                    <td th:text="${book.getBookId()}"/>
                    <td>
                        <a th:text="${book.getName()}"
                           th:href="@{/books/{id}(id=${book.getBookId()})}">
                        </a>
                    </td>
                    <td th:if="${role == 'client'}">
                        <button >ADD</button>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination"
             th:if="${page.totalPages > 0}"
             th:each="pageNumber : ${pageNumbers}">
            <label class="page mt-2"><a
                    th:href="@{/books(size=${6}, page=${pageNumber})}"
                    th:text=${pageNumber}
                    th:class="${pageNumber==page.number} ? active"></a>
            </label>
        </div>


        <!--        <div>-->
        <!--            <a href="/books/create">-->
        <!--                <strong> ADD BOOK </strong>-->
        <!--            </a>-->
        <!--        </div>-->

        <div class="pagination">

        </div>

    </div>

</div>


</body>
</html>