<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

<div th:insert="navbar"></div>
<div >
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
    <img src="./images/rick.gif" alt="ERROR-image" style="width: 60px; height: 120px;">
</div>
</body>
</html>