<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<div th:insert="navbar"></div>


<div class="container">

    <from action="/books/liked" method="post">
        <div class="book-list">
            <div th:each="book,iterator :${client.getClientBooks()}">
                <div>
                    <img src="./images/book.png" alt="books-image">
                </div>
                <div>
                    <h3><a th:text="${book.getName()}" ,
                           th:href="@{/books/{id}(id=${book.getBookId()})}"></a></h3>
                </div>
                <a type="submit"
                   th:href="'/books/liked/' + ${book.getBookId()} + '/remove'"
                   class="btn btn-primary">DELETE</a>
            </div>
        </div>
    </from>

</div>

</body>
</html>