<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <div th:insert="navbar"></div>

    <div class="author">
        <img src="./images/author.png" alt="author-image" />

        <h3 th:text="${author.getName()}"></h3>
        <div classes="books" th:each="book : ${books}">
            <a th:text="${book.getName()}",
               th:href="@{/books/{id}(id=${book.getBookId()})}"></a>
        </div>
    </div>

</div>

</body>
</html>