<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <div th:insert="navbar"></div>

    <div class="main-block">

        <div class="filter">
            filter panel
        </div>

        <div class="author-block" th:each="author : ${authors}">
            <div class="author">
                <img src="./images/author.png" alt="author-image">
                <h3 th:text="${author.getName()}"></h3>
            </div>
            <button class="btn"><a th:href="@{/authors/{id}(id=${author.getAuthorId()})}">more info</a></button>
        </div>

    </div>

</div>
</body>
</html>