<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

</head>
<body>

<div class="container">
    <div class="">
        <form action="/books/create" method="post" th:object="${book}">
            <div class="container">
                <div class="row mt-5">
                    <label class="col-4">Enter ISBN : </label>
                    <input class="col-8" type="text" name="isbn" placeholder="isbn" th:object="${book.isbn}">
                </div>
                <div class="row mt-2">
                    <label class="col-4">Enter Book : </label>
                    <input class="col-8" type="text" name="bookName" placeholder="book name" th:object="${book.bookName}">
                </div>
                <div class="row mt-2">
                    <label class="col-4">Enter description : </label>
                    <input class="col-8" type="text" name="description" placeholder="description" th:object="${book.description}">
                </div>
                <div class="row mt-2">
                    <label class="col-4">Enter author : </label>
                    <input class="col-8" type="text" name="author" placeholder="author" th:object="${book.author}">
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-primary">Add</button>
                <button type="reset" class="btn btn-warning">Reset</button>
            </div>

        </form>
    </div>
</div>

</body>
</html>